@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-ink text-gray-100 antialiased;
}

.scroll-shadow {
  box-shadow: inset 0 12px 10px -10px rgba(0, 0, 0, 0.2), inset 0 -12px 10px -10px rgba(0, 0, 0, 0.2);
}
